@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root{
     --blue:;
     --orange:#F39552;
     --orange-dark:#E2524B;
     --vert:#B4CD1B;
     --blue:#01ADCA;
}

body{
     font-family: Host Grotesk, sans-serif;
     font-size: 18px;
}

section{
     width: 100%;
     min-height: 100vh;
}

/* Header */
header{
     position: fixed;
     top:0;
     background: white;
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80px;
     gap: 50px;
}

.logo-wrapper{
     width: 100%;
     height: 100%;
     max-width: 120px;
}

.timer-controls{
     display: flex;
     flex-direction: column;
}    

.values{
     font-size: 46px;
}

button{
     appearance: none;
     box-shadow: none;
     padding: 15px 40px;
     min-width: 150px;
     border: 2px solid #000;
     background-color: var(--orange);
     margin: 10px 0;
     cursor: pointer;
     transition: all 0.3s;
}

button:hover{
     background-color: var(--orange-dark);
}

/* Content */
main{
     margin-top:80px;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow: auto;
     min-height: 100vh;
     scroll-snap-type: y proximity;
}

section{
     width:100%;
     height: 100%;
     display: flex;
     justify-content: center;
     scroll-snap-align: start; /* Modification de cette ligne */
}

.content{
     max-width: 1200px;
     width: 100%;
     margin:60px auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.timer{
     background:url('../img/background-orange.png') no-repeat center center/cover ;
     background-attachment: fixed;
}

.timer .content{
     display: flex;
     max-width: 1200px;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 60px;
     width: 100%;
}

.timer .content > div{
     width:calc(45% - 60px);
     flex-grow: 2;
     flex-shrink: 2;
     min-width: 200px;
}

.team-manager{
     display: inline-flex;
     gap:20px;
}

input[type=text]{
     padding: 9px 15px;
     border-radius: 5px;
     box-shadow: none;
     border: none;
     min-width: 300px;
}

.rules{
     background:url('../img/background-bleu.png') no-repeat center center/cover;
     background-attachment: fixed;
}

.rules strong{
     color:var(--blue);
     font-family: 'Luckiest Guy', cursive;
     font-weight: 400;
     font-size: 24px;
     margin-top: 10px;
}

.rules .content{
     background-color:#fff;
     border-radius: 20px;
     padding: 60px;
     margin:60px 20px;
     box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.rules li{
     list-style-type: disc;
}

@media screen and (max-width: 780px){
     h1{
          font-size: 3em!important;
     }

     .rules .content{
         padding: 30px;
     }

     .timer .content{
          margin:30px 20px;
     }
}

nav ul{
     display: inline-flex;
     gap:20px;
}

li{
     list-style: none;
}

a{
     text-decoration: none;
}

@font-face {
     font-family: 'Luckiest Guy'; 
     src: url(../fonts/LuckiestGuy.ttf);
}

h1{
     font-family: 'Luckiest Guy', cursive;
     font-size: 6em;
     margin-bottom: 10px;
     margin-top: 0;
}

h2{
     font-size: 3em;
     margin-bottom: 10px;
}

h3{
     font-size: 34px;
     margin-bottom:5px;
}

h2,h3{
     font-family: 'Luckiest Guy', cursive;
     margin-top: 0;
}

.green{
     color: var(--vert);
}

.blue{
     color: var(--blue);
}

.random_player {
    display: flex;
    flex-direction: column;
}

.teams {
    display: flex;
     justify-content: space-around;
     width: 100%;
     margin-top: 20px;
     flex-wrap: wrap;
}

.teams div {
    width: calc(100% - 30px);
     min-width: 200px;
     flex-grow: 2;
}

.teams ul {
    list-style: none;
    padding: 0;
}

.teams li {
    background: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: inline;
     margin-left: 5px;
}