@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&display=swap');

:root{
     --blue:;
     --orange:#EE7251;
     --orange-dark:#E2524B;
     --vert:#B4CD1B;
}

body{
     font-family: Host Grotesk, sans-serif;
}

section{
     width: 100%;
     min-height: 100vh;
}

/* Header */
header{
     position: fixed;
     top:0;
     background: white;
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80px;
     gap: 50px;
}

.logo-wrapper{
     width: 100%;
     max-width: 120px;
}

.timer-controls{
     display: flex;
     flex-direction: column;
}    

.values{
     font-size: 46px;
}

button{
     appearance: none;
     box-shadow: none;
     padding: 15px 40px;
     min-width: 150px;
     border: 2px solid #000;
     margin: 10px 0;
     cursor: pointer;
}

/* Content */
main{
     margin-top:80px;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow: auto;
     min-height: 100vh;
     scroll-snap-type: y proximity;
}

section{
     width:100%;
     height: 100%;
     display: flex;
     scroll-snap-align: start; /* Modification de cette ligne */
}

.content{
     max-width: 1000px;
     margin:0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.timer{
     background:url('../img/background-orange.png') no-repeat center center/cover ;
     background-attachment: fixed;
}

.rules{
     background:url('../img/background-bleu.png') no-repeat center center/cover;
     background-attachment: fixed;
}

ul{
     display: inline-flex;
     gap:20px;
}

li{
     list-style: none;
}

a{
     text-decoration: none;
}